/* .tjunia {
    position: relative;
    float: right;
    bottom: 450px;
}

.fazana {
    position: relative;
    float: right;
    bottom: 600px;
}

.afrodite {
    position: absolute;
float: right;
    bottom: 1000px;
    clear: both;
}

.tjuniap {
    font-size: 100px;
    float: right;
    position: relative;
    bottom: 770px;
    
}

.afrodite {
    font-size: 100px;
    float: right;
    position: relative;
    bottom: 600px;
    margin:auto;
} */

body {
   transform: scale(0.9999999);
/*   transform-origin: 10% 10%; */
}


.pizzerior {
    float: right;
    font-size: 68px;
    bottom: 745px;
    position: relative;
    color: red;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.pizzerior {
    line-height: 2.0;
}

li {
    font-family: 'Kaushan Script', cursive
}

.current {
    font-family: 'Kaushan Script', cursive
}

body {
}

::-webkit-scrollbar { 
    display: none; 
}
